doctype html
html(lang='es', ng-app='App')
	head
		base(href='/')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Administración socketio.js
		block meta
		//- Socket.io
		script(type="text/javascript", src='/js/lib/socket.io-client/dist/socket.io.js')
		//- Bootstrap
		script(type="text/javascript", src='/js/lib/jquery/jquery.js')
		script(type="text/javascript", src='/js/lib/tether/tether.js')
		script(type="text/javascript", src='/js/lib/bootstrap/bootstrap.js')
		//- Formato de Fechas
		script(type="text/javascript", src='/js/lib/moment/moment.js')
		script(type="text/javascript", src='/js/app/moment-with-locales.js')
		//- Angular
		script(type="text/javascript", src='/js/lib/angular/angular.js')
		script(type="text/javascript", src='/js/lib/angular-ui-router/angular-ui-router.js')
		script(type="text/javascript", src='/js/lib/satellizer/satellizer.js')
		script(type="text/javascript", src='/js/lib/angular-socket-io/socket.js')
		//- script(type="text/javascript", src='/js/lib/angular-imgur-upload/angular-imgur-upload.min.js')
		block js
		link(rel="stylesheet", type="text/css", href='/css/bootstrap.min.css')
		link(rel="stylesheet", type="text/css", href='/css/style.css')
		block css
	body(ng-controller='Main as parent')
		//- Menu top
		header#menuTop.navbar.navbar-fixed-top.navbar-inverse(style="background: #4285f4;")
			nav
				.navbar-brand
					a.logo(href='/', title='Home')
						img.center.img-fluid.svg-inject(src='/img/logo.svg' alt='logo')
				//- Left
				.navbar-brand.left
					ul.nav.navbar-nav 
						.nav-item {{parent.title}}
				//- Right
				.navbar-brand.right
					ul.nav.navbar-nav(ng-if='!parent.isAuthenticated()')
						li.nav-item
							a.nav-link(href='/login', title='Entrar') Entrar
						li.nav-item
							a.nav-link(href='/signup', title='Registrarse') Registrarse
					ul.nav.navbar-nav(ng-if='parent.isAuthenticated()')
						li.nav-item.dropdown
							#userMenu.nav-link.dropdown-toggle(
								title='{{parent.getName()}}'
								data-toggle="dropdown"
								aria-haspopup="true"
								aria-expanded="true"
							) {{parent.getName()}}
							.dropdown-menu(aria-labelledby='userMenu')
								a.dropdown-item(href='/logout', title='Salir') Salir
		//- Menu left
		header#menuLeft.navbar.navbar-inverse.bg-inverse.menubar(ng-if='parent.isAuthenticated()')
			nav
				.navbar-brand
					ul.nav.navbar-nav
						//- dashboard
						li.block.nav-item(class='{{parent.currentPage == 1 ? "active" : ""}}')
							a(	class='nav-link'
								ng-click='parent.currentPage = 1'
								href='/')
								img.center.img-fluid(src='/img/dashboard.svg' alt='Tablero de instrumentos')
								span.center.block Dasbboard
						//- users
						li.block.nav-item(class='{{parent.currentPage == 2 ? "active" : ""}}')
							a(	class='nav-link'
								ng-click='parent.currentPage = 2'
								href='/users')
								img.center.img-fluid(src='/img/users.svg' alt='Usuarios')
								span.center.block Usuarios
		//- Contenido principal
		section#main(style="margin-left: {{parent.getbodyMargin() ? '120':'0'}}px !important;width: calc(100% - {{parent.getbodyMargin() ? '120':'0'}}px);height: calc(100% - {{parent.getbodyMargin() ? '56':'0'}}px);")
			block content
		//- Pie de página
		footer#menuBottom.footer.navbar.navbar-fixed-bottom(style="margin-left:{{ parent.getbodyMargin() ? '120':'0'}}px!important")
			.date.lead © 2017 Administración
		//- Scripts
		block js_footer